.btn {
	position: fixed;
	right: 50px;
	bottom: 100px;
	width: 60px;
	height: 60px;

	&Arrow {
		font-size: 50px !important;
		color: #838383;
		transition: all 0.3s ease-in-out !important;

		&:hover {
			color: #5e5e5e !important;
		}
	}
}

@media (max-width: 1474px) {
	.btn {
		right: 15px;
		opacity: 0.6;
	}
}

@media (max-width: 960px) {
	.btn {
		right: 10px;

		&Arrow {
			font-size: 45px !important;
		}
	}
}

@media (max-width: 768px) {
	.btn {
		right: 5px;

		&Arrow {
			font-size: 40px !important;
		}
	}
}

@media (max-width: 550px) {
	.btn {
		right: 2px;
		bottom: 70px;
		width: 50px;
		height: 50px;

		&Arrow {
			font-size: 35px !important;
		}
	}
}
