.select {
	font-size: 20px !important;
	font-weight: 600 !important;
	color: rgba(0, 0, 0, 0.6) !important;
	height: 45px !important;
	background-color: #fff !important;
	transition: background-color 0.3s ease-in-out !important;

	&:hover {
		background-color: #efefef !important;
	}
}

@media (max-width: 960px) {
	.select {
		font-size: 18px !important;
		height: 40px !important;
	}
}

@media (max-width: 445px) {
	.select {
		max-width: 200px;
		font-size: 16px !important;
		height: 35px !important;
	}
}

@media (max-width: 371px) {
	.select {
		max-width: 160px;
	}
}
