.main {
	&Top {
		padding: 20px 0;
		background-image: url(./static/img/top-bg.jpg);
		margin-bottom: 30px;

		&Title {
			color: rgba(255, 255, 255, 0.8);
			font-size: 48px;
			font-weight: 600;
			text-align: center;
			margin-bottom: 30px;
		}

		&Form {
			min-height: 400px;
			display: flex;
			align-items: center;
			justify-content: center;

			&Area {
				max-width: 750px;
				width: 100%;

				&Box {
					max-width: 620px;
					width: 100%;
					margin-bottom: 40px;
				}
			}

			&SelectArea {
				display: flex;
				align-items: center;
				gap: 30px;

				&Box {
					display: flex;
					align-items: center;
					gap: 10px;

					&Text {
						font-size: 20px;
						font-weight: 600;
						color: rgba(255, 255, 255, 0.8);
					}
				}
			}
		}
	}

	&BooksBox {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 400px;
		margin-bottom: 30px;
		position: relative;

		&Error {
			color: #ed1c24;
		}

		&CardsArea {
			&Title {
				font-size: 22px !important;
				font-weight: 600 !important;
				color: rgba(0, 0, 0, 0.8) !important;
				margin-bottom: 30px;
				text-align: center;

				&Results {
					color: #000;
				}
			}

			&Flex {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				justify-content: center;
			}
		}
	}

	&ButtonArea {
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 30px;

		&Btn {
			width: 100%;
			height: 60px !important;
			font-size: 20px !important;
			color: #838383 !important;
			border: 1px solid #838383;
			background-color: transparent !important;
			border-radius: 30px !important;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: #333f4d !important;
				border: 1px solid #333f4d;
			}
		}
	}

	&Loader {
		width: 30px !important;
		height: 30px !important;
		color: #37424e !important;
	}
}

.errorWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 80vh;
	padding: 30px 0;
}

@media (max-width: 960px) {
	.main {
		&Top {
			margin-bottom: 20px;

			&Title {
				font-size: 42px;
			}

			&Form {
				&Area {
					max-width: 620px;

					&Box {
						margin-bottom: 30px;
					}
				}

				&SelectArea {
					justify-content: space-between;
					gap: 20px;

					&Box {
						flex-direction: column;
						align-items: flex-start;
						gap: 10px;

						&Text {
							font-size: 18px;
						}
					}
				}
			}
		}

		&BooksBox {
			margin-bottom: 20px;

			&CardsArea {
				&Title {
					font-size: 20px !important;
					margin-bottom: 20px;
				}

				&Flex {
					gap: 20px;
				}
			}
		}

		&ButtonArea {
			max-width: 300px;
			margin-bottom: 20px;

			&Btn {
				height: 50px !important;
				font-size: 18px !important;
			}
		}

		&Loader {
			width: 25px !important;
			height: 25px !important;
		}
	}
}

@media (max-width: 731px) {
	.main {
		&Top {
			&Title {
				font-size: 38px;
			}

			&Form {
				min-height: 300px;

				&Area {
					&Box {
						margin-bottom: 30px;
					}
				}

				&SelectArea {
					&Box {
						&Text {
							font-size: 18px;
						}
					}
				}
			}
		}

		&BooksBox {
			&CardsArea {
				&Title {
					font-size: 18px !important;
				}

				&Flex {
					gap: 10px;
				}
			}
		}

		&ButtonArea {
			max-width: 250px;

			&Btn {
				height: 45px !important;
				font-size: 16px !important;
			}
		}

		&Loader {
			width: 20px !important;
			height: 20px !important;
		}
	}
}

@media (max-width: 550px) {
	.main {
		&Top {
			&Title {
				font-size: 32px;
				margin-bottom: 20px;
			}

			&Form {
				min-height: 0;

				&Area {
					&Box {
						margin-bottom: 20px;
					}
				}

				&SelectArea {
					flex-direction: column;
					align-items: flex-start;

					&Box {
						&Text {
							font-size: 16px;
						}
					}
				}
			}
		}

		&ButtonArea {
			max-width: 180px;

			&Btn {
				height: 38px !important;
				font-size: 16px !important;
			}
		}

		&Loader {
			width: 18px !important;
			height: 18px !important;
		}
	}
}
